
    <main class="grid-form" >
      <div class="line-blue"></div>
        <form class="form-container">
                <div class="form-group">
                  <label for="formGroupExampleInput">Cantidad de nuevas compras</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Incremento de compras</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Cantidad de nuevos usuarios</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Cantidad de nuevas vistas</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Fecha de ingreso</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <button type="button" class="btn btn-primary send">Enviar</button>
        </form>
    </main>   

