

<main class="side-nav">

  
  <img id="photo" src="../../../assets/iter-lor.jpeg" alt="">
  <span id="user-name">Lorena Guido</span>


  <div class="menu">
    <div class="dropdown ">
       
      <button class="btn btn-secondary dropdown-toggle button-menu" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        <i class="fas fa-home"></i>
       Dashboard
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['form']">Formulario</a>
        <a class="dropdown-item" [routerLink]="['dashboard']">Dashboard</a>
      </div>
    </div>
</div>

</main>
